<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    </configSections>
	<connectionStrings>
<clear />
<add name="XamarinDBConnectionString"
providerName="System.Data.SqlClient"
connectionString="Server=tcp:yourserverhere.database.windows.net,1433; Database=yourdatabasehere; User ID=youruserhere;Password=yourpasswordhere;Encrypt=False;Connection Timeout=30;"
/>
 </connectionStrings>
</configuration>
