<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Raspberry.IO.GeneralPurpose" version="2.4" targetFramework="net45" />
  <package id="Raspberry.System" version="2.1" targetFramework="net45" />
  <package id="System.Diagnostics.Tracer" version="2.0.8" targetFramework="net45" />
</packages>